<% include ../partials/boilerplate %>
	
	<h1 class='date-header'><%= date %></h1>

	<div class='headers entry'>
		<h2 class='time-col'>Time</h2>
		<h2 class='name-col'>Item</h2>
		<h2 class='cals-col'>Calories</h2>
		<h2></h2>
	</div>

	<% for (let food of data) { %>
		<div class='entry'>
			<h2 class='time-col'><%= food.time %></h2>
			<h2 class='name-col'><%= food.name %></h1>
			<h2 class='cals-col'><%= food.cals %> calories</h2>
			<a class ='details-col' href='/food/<%=food.id%>'><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
</a>
		</div>
	<% } %>

	<div class='entry' id='total-cals'>
		<h2 class='time-col'>Total</h2>
		<h2 class='name-col'>meals</h2>
		<h2 class='cals-col'><%= totalCals%> Calories</h2>
		<h2></h2>
	</div>

<% include ../partials/end %>