<% include ../partials/boilerplate %>
	
	<a href='/archive' class='back'>
		<i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
	</a>

	<h1><%= date %></h1>

	<div class='headers entry'>
		<h2 class='time-col'>Time</h2>
		<h2 class='name-col'>Item</h2>
		<h2 class='cals-col'>Calories</h2>
		<h2></h2>
	</div>

	<% for (let food of data) { %>
		<div class='entry'>
			<h2 class='time-col'><%= food.time %></h2>
			<h2 class='name-col'><%= food.name %></h1>
			<h2 class='cals-col'><%= food.cals %> calories</h2>
			<h2 class ='details-col'></h2>
		</div>
	<% } %>

	<div class='entry' id='total-cals'>
		<h2 class='time-col'>TOTAL</h2>
		<h2 class='name-col'></h2>
		<h2 class='cals-col'><%= totalCals%> calories</h2>
		<h2></h2>
	</div>

<% include ../partials/end %>