<% include ../partials/boilerplate %>

	<a href='/food/add' class='back'>
		<i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
	</a>

	<h1><%= header %></h1>
		<% var i=0 %>
		<% for (let result of results) { %>
			<div class='entry result' id='<%=i%>'>

				<% if (result.fields.item_name.length > 70) { %>
					<h2 class='time-col'><%= result.fields.item_name.slice(0,80) %>... : <%= result.fields.brand_name %></h2> 
				<% } else { %>
					<h2 class='time-col'><%= result.fields.item_name %> : <%= result.fields.brand_name %></h2> 
				<% } %>
				<h2 class='cals-col'><%= Math.round(result.fields.nf_calories) %> Calories</h2>


				<form method='POST' action='/result/add' class='result-add details-col'>
					<input name='name' type='hidden' value='<%=result.fields.item_name%>' />
					<input name='cals' type='hidden' value='<%=Math.round(result.fields.nf_calories)%>' />
					<input name='details' type='hidden' value='<%=result.fields.brand_name%>' />
					<input id='result-submit' type='submit' value='+' / >
				</form>


			</div>
			<% i+=1 %>
		<% } %>	

<% include ../partials/end %>
