<% include ../partials/boilerplate %>

	<a href='/food/add' class='back'>
		<i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
	</a>
	
	<h1><%= header %></h1>
	<!--<form method='POST' action='/food/add' class='results-form'> -->
		<% for (let result of results) { %>
			<div class='entry'>
			<!--<option value='<%= result.id%>'>-->
				<h2 class='time-col'><%= result.fields.item_name %> <%= result.fields.brand_name %></h2> 
				<h2 class='cals-col'><%= Math.round(result.fields.nf_calories) %> Calories</h2>
			</div>
		<% } %>
			

	<!--</form> -->

<% include ../partials/end %>
