<% include ../partials/boilerplate %>
	
	<h1><%= date %></h1>

	<div class='headers'>
		<h2 class='time-col'>Time</h2>
		<h2 class='name-col'>Item</h2>
		<h2 class='cals-col'>Calories</h2>
		<h2></h2>
	</div>

	<% for (let food of data) { %>
		
		<a href='/food/<%=food.id%>'>
		<div class='entry'>
			<h2 class='time-col time'><%= food.formattedTime %></h2>
			<h2 class='name-col'><%= food.name %></h1>
			<h2 class='cals-col'><%= food.cals %> cals</h2>
			<i class="fa fa-arrow-right details-col" aria-hidden="true"></i>
		</div>
		</a>

	<% } %>

	<a id='add-button' href='/food/add'>
	<div id='add-item'>
		<i class="fa fa-plus" aria-hidden="true"></i>
		<span>Add Item</span>
	</div>
	</a>
	

	<div class='total-cals'>
		<h2 class='time-col'>TOTAL</h2>
		<h2 class='name-col'></h2>
		<h2 class='cals-col'><%= totalCals%> calories</h2>
		<h2></h2>
	</div>

<% include ../partials/end %>