<% include ../partials/boilerplate %>

	<a href='/food/<%= data.id%>' class='back'>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	</a>

	<h1>Update Item</h1>
	
	<form class='search' method='POST' action='/food/<%= data.id %>?_method=PUT'>
		<input name='time' type='time' value='<%=data.time%>' />
		<input name='name' type='text' value='<%=data.name%>' />
		<input name='cals' type='number' value='<%=data.cals%>'  />
		<input name='details' type='text' value='<%=data.details%>' >
		<input type='submit' value='update' />
	</form>


<% include ../partials/end %>