<% include ../partials/boilerplate %>

	<h1><%= data.name %></h1>
	<h3><%= data.time %></h3>
	<h3><%= data.cals %> Calories</h3>
	<p><%= data.details %></p>

	<a href='/food'>Back</a>
	<a href='/food/<%=data.id%>/edit'>Edit</a>
	
	<form method='POST' action='/food/<%=data.id%>?_method=delete'>
		<input type='submit' value='Delete' />
	</form>

<% include ../partials/end %>