<% include ../partials/boilerplate %>
	
	<a href='/food' class='back'>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	</a>

	<h1>Date</h1>
	<div class='single-div'>
		<div><span>Time </span><h3><%= data.formattedTime %></h3></div>
		<div><span>Item </span><h3><%= data.name %></h3></div>
		<div><span>Brand </span><h3><%= data.details %></h3></div>
		<div><span>Calories </span><h3><%= data.cals %></h3></div>
		
	
		<div class='edit-div'>
			<a id='edit' href='/food/<%=data.id%>/edit'><i class="fa fa-pencil" aria-hidden="true"></i></a>

			<form method='POST' action='/food/<%=data.id%>?_method=delete'>
				<button id='delete' type='submit' value=''><i class="fa fa-trash-o" aria-hidden="true"></i></button>
			</form>
		</div>

	</div>

<% include ../partials/end %>